bazel
clang-8
clang-format-8
clang-tidy-8
cmake
doxygen
g++-7-multilib
gcc-7-multilib
git
glslang-tools
gnuradio-dev
gpg
gnupg
golang-1.13-go
libcurl4-openssl-dev
libeigen3-dev
libelf-dev
libenchant-dev
libfontconfig1-dev
libfreetype6-dev
libfuse-dev
libgnuradio-osmosdr0.1.4
libgoogle-glog-dev
libgtk-3-dev
libgtkmm-3.0-dev
libloki-dev
libmagic-dev
libpython3.6-stdlib
libpython3-dev
librtlsdr-dev
libtinyxml2-dev
libudev-dev
libvulkan-dev
libx11-xcb-dev
ninja-build
nodejs
openjdk-8-jdk
pkg-config
python-pip
python3-minimal
python3-pip
shellcheck
